@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 100px 0 100px 0;
}
.header__container {
  padding: 0 100px;
}
.header__blackbox {
  width: 100%;
  min-height: 200px;
  background-color: #111;
  border-radius: 50px;
  padding: 62px 68px;
  margin-bottom: 44px;
}
.header__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 75px;
  letter-spacing: 0.2px;
  color: #fff;
}
.header__taxfree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
.header__taxfree-img {
  width: 79px;
  height: 95px;
}
.header__taxfree-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__taxfree-info {
  max-width: 770px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 56px;
  letter-spacing: normal;
  color: #111;
}

.slide {
  padding-bottom: 100px;
}
.slide__img {
  width: 100%;
  height: 700px;
}
.slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splide__pagination__page {
  background-color: #CBE3F5;
}

.acquaintance__container {
  padding: 0 100px;
}
.acquaintance__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #111;
  margin-bottom: 15px;
}
.acquaintance__info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: normal;
  color: #111;
  max-width: 600px;
  margin-bottom: 15px;
}
.acquaintance__span {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: normal;
  color: #888888;
  max-width: 300px;
  margin-bottom: 35px;
}
.acquaintance__name {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 65px;
  letter-spacing: normal;
  color: #fff;
}
.acquaintance__descr {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 45px;
  letter-spacing: normal;
  color: #888;
}

.btn {
  display: block;
  width: 100%;
  min-height: 65px;
  background-color: #111;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 0 15px #1c1c1c;
          box-shadow: 0 0 15px #1c1c1c;
}

.newproduct {
  padding: 100px 0;
  max-width: 87%;
  margin: 0 auto;
}
.newproduct__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 75px;
  letter-spacing: 0.2px;
  color: #111;
  margin-bottom: 70px;
  text-align: center;
}
.newproduct__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #111;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  max-width: 700px;
}
.newproduct__item-img {
  width: 350px;
  height: 470px;
}
.newproduct__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newproduct__item-watch {
  width: 415px;
}
.newproduct__item-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: normal;
  color: #111;
  margin-bottom: 30px;
  position: relative;
}
.newproduct__item-title:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #000;
}
.newproduct__item-guarantee {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: normal;
  color: #111;
  margin-bottom: 15px;
}
.newproduct__item-characteristics {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: normal;
  color: #111;
  margin-bottom: 15px;
}

.managers__title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.managers__btn {
  max-width: 750px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  background-color: #0088cc;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.managers__btn-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #fff;
  text-transform: uppercase;
}
.managers__btn-img {
  width: 50px;
  height: 50px;
}
.managers__btn-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.managers__btn:hover {
  background-color: #3396c7;
  -webkit-box-shadow: 0 0 15px #3396c7;
          box-shadow: 0 0 15px #3396c7;
}
.managers__whatsap {
  background-color: #26c963;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.managers__whatsap:hover {
  background-color: #50cb7d;
  -webkit-box-shadow: 0 0 15px #50cb7d;
          box-shadow: 0 0 15px #50cb7d;
}

.advantages__items {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}
.advantages__item-img {
  width: 100px;
  height: 100px;
}
.advantages__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__item-descr {
  max-width: 770px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: normal;
  color: #111;
}
.advantages__item-descr span {
  font-size: 30px;
  line-height: 34px;
  color: #888;
  display: block;
}
.advantages__subjekts {
  position: relative;
}
.advantages__subjekts-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #111;
  margin-bottom: 50px;
}
.advantages__subjekts-img {
  width: 110px;
  height: 215px;
  position: absolute;
  top: 30px;
  right: -100px;
}
.advantages__subjekts-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__box {
  position: relative;
}
.form__box-img {
  position: absolute;
  top: 80px;
  right: -85px;
  width: 110px;
  height: 215px;
}
.form__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #111;
  margin-bottom: 50px;
}
.form__blackbox {
  width: 100%;
  min-height: auto;
  padding: 20px 60px;
  background-color: #111;
  border-radius: 30px;
}
.form__input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  outline: 1px solid #111;
  margin-bottom: 40px;
}
.form__feedback {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.form__feedback-title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: normal;
  margin-bottom: 20px;
}
.form__btn {
  background-color: #fff;
  color: #111;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.form__btn:hover {
  background-color: #bab6b6;
}

.testimonials {
  padding-top: 100px;
}
.testimonials__item {
  background-color: #fff;
  padding: 20px 50px;
}
.testimonials__item-name {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: normal;
  color: #111;
  z-index: 1;
  margin-bottom: 20px;
}
.testimonials__item-box {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 0 20px 20px 20px;
  padding: 20px;
}
.testimonials__item-img {
  position: relative;
  width: 90%;
  height: 420px;
  z-index: 10;
  left: 85px;
  top: -65px;
}
.testimonials__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__height-4 {
  min-height: 700px;
}

.contacts {
  padding-top: 100px;
}
.contacts__btn {
  margin-bottom: 30px;
  height: 80px;
}

.FAQ {
  padding-top: 50px;
  padding-bottom: 100px;
}
.FAQ__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.FAQ__item {
  border-bottom: 2px solid #000;
  position: relative;
  margin-bottom: 20px;
}
.FAQ__item-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: normal;
  color: #111;
}
.FAQ__item-pluse {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.FAQ__item-pluse::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.FAQ__item-pluse::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg);
          transform: translate3d(-50%, -50%, 0) rotate(90deg);
}
.FAQ__item-descr {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: normal;
  color: #111;
  display: none;
}
.FAQ__item.active .FAQ__item-descr {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.FAQ__item.active .FAQ__item-pluse::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.FAQ__item.active .FAQ__item-pluse::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer {
  padding-bottom: 20px;
}
.footer__company {
  margin-bottom: 20px;
}
.footer__location {
  margin-bottom: 20px;
}
.footer__store {
  margin-bottom: 20px;
}
.footer__policy {
  border-radius: 0;
  background-color: #595959;
  max-width: 770px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}
.footer__policy span {
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #cbcbcb;
}

@media (max-width: 1200px) {
  .newproduct__title {
    font-size: 45px;
    line-height: 50px;
  }
  .newproduct__item-img {
    width: 270px;
    height: 370px;
  }
  .newproduct__item-title {
    font-size: 25px;
    line-height: 30px;
  }
  .newproduct__item-characteristics {
    font-size: 18px;
    line-height: 20px;
  }
  .newproduct .splide__height {
    min-height: 750px;
  }
  .newproduct .splide__height-bu {
    min-height: 500px;
  }
}
@media (max-width: 993px) {
  .container {
    max-width: 769px;
  }
  .header__title {
    font-size: 50px;
    line-height: 55px;
  }
  .header__taxfree-img {
    width: 80px;
    height: 75px;
  }
  .header__taxfree-info {
    font-size: 30px;
    line-height: 32px;
  }
  .slide {
    padding: 0 0 50px 0;
  }
  .acquaintance__name {
    font-size: 30px;
    line-height: 35px;
  }
  .acquaintance__descr {
    font-size: 20px;
    line-height: 25px;
  }
  .newproduct {
    padding: 20px 0 0 0;
  }
  .newproduct__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .newproduct__subtitle {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .newproduct__item-img {
    width: 200px;
    height: 270px;
  }
  .newproduct__item-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newproduct__item-characteristics {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .newproduct .splide__height {
    min-height: 590px;
  }
  .newproduct .splide__height-bu {
    min-height: 400px;
  }
  .managers {
    padding-top: 30px;
  }
  .managers__btn {
    margin-bottom: 10px;
  }
  .advantages__items {
    margin-bottom: 40px;
  }
  .advantages__item-img {
    width: 75px;
    height: 65px;
  }
  .advantages__item-descr {
    font-size: 22px;
    line-height: 25px;
  }
  .advantages__subjekts-title {
    font-size: 35px;
    line-height: 40px;
  }
  .advantages__subjekts-img {
    width: 50px;
    height: 100px;
    top: 20px;
    right: -25px;
  }
  .form__title {
    font-size: 30px;
    line-height: 35px;
  }
  .form__box-img {
    top: 70px;
    right: -50px;
    width: 70px;
    height: 140px;
  }
  .testimonials__item {
    padding: 10px 30px;
  }
  .testimonials__item-box {
    height: 140px;
  }
  .testimonials__item-img {
    height: 295px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: 556px;
  }
  .header__blackbox {
    padding: 10px 20px;
    border-radius: 20px;
    min-height: auto;
  }
  .header__title {
    font-size: 30px;
    line-height: 35px;
  }
  .header__taxfree-img {
    width: 90px;
    height: 55px;
  }
  .header__taxfree-info {
    font-size: 20px;
    line-height: 22px;
  }
  .slide {
    padding: 0 0 30px 0;
  }
  .acquaintance__link {
    border-radius: 15px;
  }
  .acquaintance__name {
    font-size: 25px;
    line-height: 28px;
  }
  .acquaintance__descr {
    font-size: 18px;
    line-height: 22px;
  }
  .newproduct {
    padding: 20px 0 0 0;
  }
  .newproduct__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .newproduct__subtitle {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .newproduct__item-img {
    width: 170px;
    height: 230px;
  }
  .newproduct__item-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newproduct__item-characteristics {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .newproduct__item-watch {
    width: 235px;
  }
  .newproduct .splide__height {
    min-height: 590px;
  }
  .newproduct .splide__height-bu {
    min-height: 400px;
  }
  .managers {
    padding-top: 20px;
  }
  .form__title {
    font-size: 25px;
    line-height: 30px;
  }
  .form__btn {
    font-size: 30px;
  }
  .testimonials__item {
    padding: 10px 20px;
  }
  .testimonials__item-name {
    font-size: 20px;
    line-height: 23px;
  }
  .testimonials__item-box {
    height: 115px;
  }
  .testimonials__item-img {
    height: 250px;
    top: -30px;
    left: 50px;
  }
  .testimonials__item-comment {
    font-size: 14px;
    line-height: 16px;
  }
  .testimonials .slider__height-4 {
    min-height: 450px;
  }
  .contacts__btn {
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;
  }
  .FAQ__container {
    margin-bottom: 5px;
  }
  .FAQ__item-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .FAQ__item-descr {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 556px) {
  .container {
    width: 320px;
  }
  .header {
    padding: 20px 0;
  }
  .header__container {
    padding: 0;
  }
  .header__blackbox {
    padding: 5px 10px;
    border-radius: 10px;
    min-height: auto;
    margin-bottom: 10px;
  }
  .header__title {
    font-size: 20px;
    line-height: 25px;
  }
  .header__taxfree-img {
    width: 60px;
    height: 40px;
  }
  .header__taxfree-info {
    font-size: 16px;
    line-height: 20px;
  }
  .slide {
    padding: 0 0 30px 0;
  }
  .acquaintance__container {
    padding: 0;
  }
  .acquaintance__title {
    font-size: 20px;
    line-height: 22px;
  }
  .acquaintance__info {
    font-size: 16px;
    line-height: 18px;
  }
  .acquaintance__span {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .acquaintance__link {
    border-radius: 10px;
    padding: 10px;
  }
  .acquaintance__name {
    font-size: 16px;
    line-height: 18px;
  }
  .acquaintance__descr {
    font-size: 14px;
    line-height: 16px;
  }
  .newproduct {
    padding: 10px 0 0 0;
  }
  .newproduct__title {
    font-size: 20px;
    line-height: 22px;
  }
  .newproduct__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .newproduct__item-img {
    width: 120px;
    height: 165px;
  }
  .newproduct__item-title {
    font-size: 16px;
    line-height: 18px;
  }
  .newproduct__item-characteristics {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .newproduct__item-watch {
    width: 145px;
  }
  .newproduct .splide__height {
    min-height: 410px;
  }
  .newproduct .splide__height-bu {
    min-height: 280px;
  }
  .managers {
    padding-top: 20px;
  }
  .advantages__item-img {
    width: 70px;
    height: 40px;
  }
  .advantages__item-descr {
    font-size: 18px;
    line-height: 20px;
  }
  .advantages__item-descr span {
    font-size: 14px;
    line-height: 16px;
  }
  .form__title {
    font-size: 20px;
    line-height: 22px;
  }
  .form__box-img {
    width: 50px;
    height: 100px;
    top: 55px;
  }
  .form__btn {
    font-size: 20px;
    line-height: 40px;
    height: 20px;
    padding: 2px;
  }
  .form__blackbox {
    padding: 15px 20px;
  }
  .form__input {
    height: 30px;
    margin-bottom: 10px;
  }
  .testimonials__item {
    padding: 10px 20px;
  }
  .testimonials__item-name {
    font-size: 20px;
    line-height: 23px;
  }
  .testimonials__item-box {
    height: 115px;
  }
  .testimonials__item-img {
    height: 250px;
    top: -30px;
    left: 50px;
  }
  .testimonials__item-comment {
    font-size: 14px;
    line-height: 16px;
  }
  .testimonials .slider__height-4 {
    min-height: 450px;
  }
  .contacts__btn {
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;
  }
  .FAQ__container {
    margin-bottom: 5px;
  }
  .FAQ__item-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .FAQ__item-descr {
    font-size: 16px;
    line-height: 18px;
  }
  .footer__policy {
    max-width: 300px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 330px) {
  .container {
    padding: 0 10px;
  }
  .advantages__subjekts-img {
    display: none;
  }
  .form__box-img {
    display: none;
  }
  .newproduct {
    padding: 10px 0 0 0;
  }
  .newproduct__title {
    font-size: 20px;
    line-height: 22px;
  }
  .newproduct__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .newproduct__item {
    width: 100%;
    padding: 10px 0;
  }
  .newproduct__item-img {
    width: 280px;
    height: 400px;
  }
  .newproduct__item-title {
    font-size: 16px;
    line-height: 18px;
  }
  .newproduct__item-characteristics {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .newproduct__item-watch {
    width: 100%;
    height: 320px;
  }
  .testimonials__item {
    padding: 10px 20px;
  }
  .testimonials__item-name {
    font-size: 20px;
    line-height: 23px;
  }
  .testimonials__item-box {
    height: 115px;
  }
  .testimonials__item-img {
    width: 230px;
    height: 230px;
    top: -30px;
    left: 50px;
  }
  .testimonials__item-comment {
    font-size: 12px;
    line-height: 14px;
  }
  .testimonials .slider__height-4 {
    min-height: 400px;
  }
}/*# sourceMappingURL=style.css.map */